<%= form_with(model: vimrc, local: true) do |form| %>
  <% if vimrc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vimrc.errors.count, "error") %> prohibited this vimrc from being saved:</h2>

      <ul>
      <% vimrc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
